@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");
html {
  font-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
}
